extends layout

block content
  .api
    h1 #{title}

    pre.data
      span.bracket {
      .entry
        span.str "Name" :
        span.pln  #{entry.title}
      .entry
        span.str "Description" :
        span.pln  #{entry.description}
      .entry
        span.str "Created" :
        span.pln  #{entry.created}
      .entry
        span.str "Id" :
        span.pln  #{entry.id}
      span.bracket }

    pre.data
      input#up_id(type='hidden', value='#{entry.id}', name="id")          
      .entry
          span.str Name :
          input#update_title.pln(type="text", name="title", old-value='#{entry.title}')
      .entry
          span.str Description :
          textarea#update_desc.pln(name="description", value='#{entry.description}')
      div#addCommentSubmit
          input#update(type="submit", value="Update entry", style="font-size:20;float:right")


    //- //-el delete deberia hacerse con un AJAX, para proximamente...se hace una Ñapa con un GET
    //- a#api(href='api/entries/#{entry.id}', style="display:inline-block")
    //-   input(type='submit', value='View API')
    .options
      form( method="get", action="/api/del/", style="display:inline-block")
        input(type='hidden', value='#{entry.id}', name="id")
        input(type='submit', value='Delete')

block footer
  blockquote #{footer}
    a(href='https://github.com/cybermarkus1/express_basic') Github project