extends layout

block content
  article
    h1 #{title}
    .addCommentForm
          form( method="post", action="/api/entries")
              div
                  div
                      span.label Name :
                      input(name="name")
                  div
                      span.label Surname :
                      input(name="surname")
                  div
                      span.label Age :
                      input(name="age")
                  div#addCommentSubmit
                      input(type="submit", value="Add entry")

    #entries
      - each entry in entries
          .entry(style="padding:2%;border:1px solid #51b6ae ")
            span #{entry}
            //- span #{entry.surname}
            //- span #{entry.age}
            //- span #{entry.id}
            br
            //-el delete deberia hacerse con un AJAX, para proximamente...se hace una Ñapa con un GET

            a#api(href='api/#{entry.id}', style="display:inline-block")
              input(type='submit', value='View JSON')
            a#api(href='api/entries/#{entry.id}', style="display:inline-block")
              input(type='submit', value='View API')
            input#del(type='submit', value='Delete', data-id='#{entry.id}')

block footer
  blockquote #{footer}
    a(href='https://github.com/cybermarkus1/node_APIrest') Github project
    a(href='https://bitbucket.org/cybermarkus1/node_apirest', style="margin-left:2%") Bitbucket project
