extends layout

block content
  h1 #{title}
  div.addCommentForm
        form( method="post", action="/create")
            div
                div
                    span.label Name :
                    input(type="text", class="nameTxt", name="title")
                div
                    span.label Comment :
                    textarea(name="description")
                div#addCommentSubmit
                    input(type="submit", value="Save")
  //- br
  //- br
  #entries
    - each entry in entries
        br
        div.name= entry.title
        div.description= entry.description
        div.created= entry.created
        div.id= entry.id
        br
        //-el delete deberia hacerse con un AJAX, para proximamente...se hace una Ñapa con un GET
        form( method="get", action="/api/del/")
          input(type='hidden', value='#{entry.id}', name="id")
          input(type='submit', value='Delete')
        br
        //- div.content= comment.content
        //- hr